.details-container {
  padding: 15px 20px;
  background-color: #f5f7fa;
  height: 100%;
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

.details-container::-webkit-scrollbar {
  width: 8px;
}

.details-container::-webkit-scrollbar-track {
  background: transparent;
}

.details-container::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 4px;
}
